{% extends "bar/bar_base.html" %}

{% block navtitle %}Menu{% endblock %}

{% block menuitems %}
<li><a href="#">Beer</a></li>
<li><a href="#">Wine</a></li>
<li><a href="#">Cocktails</a></li>
{% endblock %}

{% block content %}

<div class="container main-gallery">

{% if drink %}

    {% for item in drink %}
    
    <a href="#"><div class="row"><div class="span12 barname"><p>{{item.name}}</p></div></div></a>
    
    {% endfor %}

{% else %}
    <p>Nothing here.</p>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/bar/order/" method="post">
{% csrf_token %}
    <input type="text" name="quantity">
    <label for="quantity">quantity x </label><br />
    <input type="submit" value="Order" />
</form>

</div>

{% endblock %}