{% extends "bar/bar_base.html" %}

{% block navtitle %}Menu{% endblock %}

{% block menuitems %}
<li><a href="#">Beer</a></li>
<li><a href="#">Wine</a></li>
<li><a href="#">Cocktails</a></li>
{% endblock %}

{% block content %}

<div class="container main-gallery">

    <a href="#"><div class="row"><div class="span12 barname"><p class="autoname"></p></div></div></a>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form id="orderform" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit" />
</form>

<script type="text/javascript">
    $('.autoname').html($("select[name='drink'] option:selected").html());
    $("#orderform").attr("action", '/bar/bar' + $("select[name='drink'] option:selected").val()drink + '/drink' + $("select[name='drink'] option:selected").val() + '/');
</script>

</div>

{% endblock %}