{% extends "bar/bar_base.html" %}

{% block navtitle %}Menu{% endblock %}

{% block menuitems %}
<li><a href="#">nothing here</a></li>
{% endblock %}

{% block content %}

<div class="container main-gallery">

{% if orders_list %}

    {% for order in orders_list %}
    
    <a href="/bar/order{{order.id}}/"><div class="row"><div class="span12 barname"><p>{{order.id}}</p></div></div></a>
    
    {% endfor %}

{% else %}
    <p>Nothing here.</p>
{% endif %}

</div>

{% endblock %}