{% extends "base.html" %}

{% block content %}

    <div id="content">
        <h2>about</h2>
        <div style="width:100%;height:50px;"></div>
		<p class="medium">Ugly websites make me itch.  I like to read <a href="http://xkcd.com/323/" target="_blank">xkcd</a> and eat noodles.
        When I was ten I wanted to be <a href="http://en.wikipedia.org/wiki/Solid_Snake" target="_blank">Solid Snake</a>.  
        I'm good at snowboarding and bad at golf but I like both.  The sound of ice scraping gives me goose bumps.
        <a href="http://www.jimcarrey.com/" target="_blank">Jim Carrey has the coolest website ever.</a>  Claude Debussy had good ears and a funny shaped head.</p>
	</div>

{% endblock %}