<!DOCTYPE html>
<html>
<head>
    <title>mattgoral.com</title>
    <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/u/874495/ec2/mattgoral_site/mattgoral.css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body>
    <header id="header">    
        <a href="/"><h1>matt goral</h1></a><br>
        <a class="headerlink" href="work">work</a>
        <a class="headerlink" href="resume.html">resume</a>
        <a class="headerlink" href="about.html">about</a>
        <a class="headerlink" href="contact.html">contact</a>
    </header>
  
  

{% block content %}{% endblock %}

<script type="text/javascript">
    $('#header').css('height', $(window).height());
</script>

</body>
</html>