{% extends "jewelry/jewelry_base.html" %}

{% block content %}

<div class="container main-gallery">
<div class="row">
  <div class="span4 offset3">
<p style="font-size:40px;color:#777;line-height:40px;">{{ item.title }}</p>
<img src="https://dl.dropbox.com/u/874495/ec2/jewelry/{{ item.image1 }}" onmouseover="this.src='https://dl.dropbox.com/u/874495/ec2/jewelry/{{ item.image2 }}'" onmouseout="this.src='https://dl.dropbox.com/u/874495/ec2/jewelry/{{ item.image1 }}'">
    </div>
    
    
  <div class="span2">
  <p style="font-size:20px;line-height:40px;color:#999">${{ item.price }}</p>
  <p>{{ item.description }}</p><br>


<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="{{ item.paypal_id }}">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>

  </div>

</div>



{% endblock %}
