{% extends "jewelry/jewelry_base.html" %}

{% block content %}
<div class="hero-unit"><img src="http://data.whicdn.com/images/37283750/Girl-Asian-Model-Roses-Jewelry-600x375_large.jpg" style="height:300px;">s</div>
<div class="container main-gallery">
      
{% if jewelry_list %}
    <script type="text/javascript">
    var list = new Array();
    {% for item in jewelry_list %}
    list.push([{{item.id}},'{{item.image1}}']);
    {% endfor %}
    render(list);
    </script>
{% else %}
    <p>Nothing here.</p>
{% endif %}

</div>

{% endblock %}