{% extends "jewelry/jewelry_base.html" %}

{% block content %}
<div class="hero-unit" id="hero">
<div id="herotext">
    <p id="heroline1">this is awesome text</p>
    <p id="heroline1">so is this</p>
</div>
<div id="imgcontainer">
  <img id="heroimg" src="https://dl.dropbox.com/u/874495/ec2/jewelry/hero1.png">
</div>
  </div>
<div class="container main-gallery">
      
{% if jewelry_list %}
    <script type="text/javascript">
    var list = new Array();
    {% for item in jewelry_list %}
    list.push([{{item.id}},'{{item.image1}}']);
    {% endfor %}
    render(list);
    </script>
{% else %}
    <p>Nothing here.</p>
{% endif %}

</div>

{% endblock %}