{% extends "jewelry/jewelry_base.html" %}

{% block content %}

<!--
<div class="hero-unit" id="hero">
<div id="herotext">
    <p id="heroline1">this is awesome text</p>
    <p id="heroline1">so is this</p>
</div>
<div id="imgcontainer">
  <img id="heroimg" src="https://dl.dropbox.com/u/874495/ec2/jewelry/hero1.png">
</div>
  </div>
-->
  
  
  
  <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item hero1 active">
          <img id="img1" src="https://dl.dropbox.com/u/874495/ec2/jewelry/hero1.png" alt="">
          <div class="container">
<div class="herotext">
    <p id="heroline11">this is awesome text</p>
    <p id="heroline12">so is this</p>
</div>
          </div>
        </div>
        <div class="item hero2">
          <img id="img2" src="https://dl.dropbox.com/u/874495/ec2/jewelry/hero2.png" alt="">
          <div class="container">
<div class="herotext2">
    <p id="heroline21">this is awesome text</p>
    <p id="heroline22">so is this</p>
</div>

          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
  
  
  
  
  
<div class="container main-gallery">
      
{% if jewelry_list %}
    <script type="text/javascript">
    var list = new Array();
    {% for item in jewelry_list %}
    list.push([{{item.id}},'{{item.image1}}']);
    {% endfor %}
    render(list);
    </script>
{% else %}
    <p>Nothing here.</p>
{% endif %}

</div>

{% endblock %}