{% extends "jewelry/jewelry_base.html" %}

{% block content %}
<div class="container main-gallery">

      
      <div class="row">
        <div class="span4 jj1"></div>

        <div class="span8" style="margin-top:0">
          <div class="row">
            <div class="span2 jj2"></div>
            <div class="span2 jj3"></div>
            <div class="span2 jj4"></div>
            <div class="span2 jj5"></div>
          </div>
          <div class="row">
            <div class="span2 jj6"></div>
            <div class="span2 jj7"></div>
            <div class="span2 jj8"></div>
            <div class="span2 jj9"></div>
          </div>
        </div>
      </div>
     
      
</div>
      
{% if jewelry_list %}
    <script type="text/javascript">
    
    {% for item in jewelry_list %}

    $('.jj{{ forloop.counter }}').append('<a href="/jewelry/{{ item.id }}/"><img class="jimg" src="https://dl.dropbox.com/u/874495/ec2/jewelry/{{ item.image1 }}"></a>');
        
    {% endfor %}
    
    $("#all").addClass("active");
    $('.jj9').append('{% page %}');
    </script>
{% else %}
    <p>Nothing here.</p>
{% endif %}

{% endblock %}