{% extends "jewelry/jewelry_base.html" %}

{% block content %}
<div class="container main-gallery">

      <div class="row"></div>
      
</div>
      
{% if jewelry_list %}
    <script type="text/javascript">
    
    {% for item in jewelry_list %}

    $('.row').append('<div class="span4"><img src="https://dl.dropbox.com/u/874495/ec2/jewelry/{{ item.image1 }}" onmouseover="this.src='https://dl.dropbox.com/u/874495/ec2/jewelry/{{ item.image2 }}'" onmouseout="this.src='https://dl.dropbox.com/u/874495/ec2/jewelry/{{ item.image1 }}'"></div>');

        
    {% endfor %}
    </script>
{% else %}
    <p>Nothing here.</p>
{% endif %}

{% endblock %}